<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Resource/adminStyle.css">
    @Styles.Render("~/Resource/adminStyle.css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.5.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="topnav">
            <img src="~/Resource/Wiki-wordmark.png">
            <!-- <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a> -->
            <h1 style="color: #F65091; text-align: center;">Trang quản lý của Admin</h1>
        </div>
    </header>

    <div class="ThanhChucNang">
        <a href="#">Quản lý nhân vật</a>
        <a href="#">Quản lý guild</a>
        <a href="#">Quản lý hình</a>
        <a href="#">Thống kê</a>
        <a href="#">Quản lý thành viên</a>
    </div>

    <div id="main">
        @RenderBody()
    </div>
</body>

<script>
    var loadFile = function (event) {
        var output = document.getElementById('icon');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
</html>
